
<form [formGroup]="searchForm">
        <mat-form-field class="input" isHome="true">
            <input matInput formControlName="title" autocomplete="off" [matAutocomplete]="auto" #search>
            <mat-icon>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.title}}
                </mat-option>
              </mat-autocomplete>
        </mat-form-field>
</form>
<!-- <pre>{{searchForm.value | json}}</pre> -->