<form #f="ngForm">
    <mat-form-field>
        <input matInput type="text" placeholder="Nazwa Produktu"
            name="title" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="Cena Produktu"
            name="price" ngModel>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Kategoria" name="category" ngModel>
            <mat-option *ngFor="let c of categories"
                        [value]="c">{{ c }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">
        <mat-icon>search</mat-icon>SZUKAJ
    </button>
</form>